* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 16px;
    width:50%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 45%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.register {
    background-color: #f1f1f1;
    text-align: center;
}
.input-group {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.input-group-append {
    display:flex;
    margin-left: -1px;
}
.input-group-text {
    display:flex;
    align-items: center;
}
.input-group > input {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    margin-bottom: 0;
}
#checkId {
    margin-left: 5px;
}
.error {
    color: red;
}